<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>NoteTakersAnon</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <link rel="stylesheet" href="">
    </head>
    <body style="background-size:cover;background-color:black;font-family:serif;">
    
    <div class="profileContainer">
            <h3 class="profileTxtMain"> Welcome To Your [Note] Dashboard</h3>
            <p class="motto">...its your idea ., just write it down. </p>
            <img style="border:solid lemonchiffon;border-width:.2px;width:100%;height:auto;" src="https://images.unsplash.com/photo-1612641605722-60c66c66530c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fHNrZXRjaHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
            <div class="greatContainer">
            <h3 style="color:salmon;text-align:right;" > Note(s) Ledger </h3>

            <table>
            Registered Notes
            <thead>
                <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Date</th>
                <th>Body</th>
                <th colspan="3"></th>
                </tr>
            </thead>
        <tbody>
                <% @posts.each do |post| %>
                <tr>
                    <td style="border:solid lemonchiffon;border-width:.2px;"><%= post.title %></td>
                    <td style="border:solid lemonchiffon;border-width:.2px;"><%= post.author %></td>
                    <td style="border:solid lemonchiffon;border-width:.2px;"><%= post.date %></td>
                    <td style="border:solid lemonchiffon;border-width:.2px;"><%= post.body %></td>
                    <td><%= link_to '[^]', edit_post_path(post) %></td>
                    <td><%= link_to '[X]', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
                <% end %>
            </tbody>
            </table>
        </div>
         <div class="innerContainer"></div>
</div>
            <div onclick="addNote()" class="actionBtn"><%= link_to 'Create Note', new_post_path %></div>

                <div class="flexer">
                    <div  id="c" class="proBox"> <h5 class="phead">Set Deadline</h5></div>
                    <div  id="a" class="proBox"> <h5  onclick="alertItem()"class="phead">Set Active Item Alarm</h5></div>
                </div>
    </div>
</div>

<div class="mainContainer"></div>
        <input class="jotKey" placeholder="Type Content For Quick Jot "> <button onclick="takeJot()" style="background-color:green;width:100%;">Add To Pad </button>




        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script>
            console.log($);

            const takeJot = () =>{
                // alert
                alert(" JOTS - are not saved to DB. If you want to save this content, Please Create NOTE");
                ask = prompt("Enter Content To Jot ");
                jot = $('.jotKey').val();
                $(".mainContainer").append(`<div>${ask}</div>`);
                $(".mainContainer").append(`<div>${jot}</div>`);
            }

            const alertItem = () =>{
                item=prompt(" Enter Content For Alert Item")
                                $(".innerContainer").append(`<div style="text-align:center;border:solid lemonchiffon;color:lemonchiffon;">${item}</div>`);

            }
             const deadline = () =>{
                prompt(" Enter Content For Alert Item")

            }
        </script>
    </body>
</html>